.modal_header {
    align-items: center;
    border-bottom: 0.5px solid #dadada;
}

div {
    display: block;
}

.logo {
    padding: 16px;
}

h1 {
    font-family: 'Menlo', monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

.version_number {
    color: #444;
    font-size: 18px;
}

body {
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 384px;
}
input {
    width: 200px;
}
input, button{
    padding: 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}
button {
    width : 50px;
}

.modal_content {
    display:flex;
    justify-content: center;
}

p {
    margin: 0px;
    font-family: cursive;
}

.copied {
    color:#fdfefd;
    background-color:#15af50;
}

.new {
    display:block;
}

#copy {
    display: none;
}
