.modal_header {
    align-items: center;
    border-bottom: 0.5px solid #dadada;
    margin-bottom: 8px;
}

div {
    display: block;
}

.logo {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 8px;
    display: flex;
    margin-left: 10px;
}

.logo h1 {
    padding: 10px;
}

h1 {
    font-family: 'Menlo', monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

.version_number {
    color: #444;
    font-size: 18px;
}

body {
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 384px;
}
input {
    width: 250px;
    font-family: Consolas;
}
input, button{
    padding: 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}
button {
    width : 60px;
    font-family: 'Segoe UI';
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
    cursor : pointer;
    font-weight: 600;
}

.modal_content {
    display:flex;
    justify-content: center;
}

p {
    margin: 0px;
    font-family: 'Segoe UI';
    font-weight: 500;
    line-height: 20px;
}

.copied {
    color:#fdfefd;
    background-color:#15af50;
    font-size: 13px;
}

.new {
    display:block;
}

#copy {
    display: none;
}
