.modal_header {
    align-items: center;
    border-bottom: 0.5px solid #dadada;
    margin-bottom: 8px;
    background-color: #3d4045;
}

div {
    display: block;
}

.logo {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 8px;
    display: flex;
    margin-left: 10px;
}

.logo h1 {
    padding: 07px;
}

h1 {
    font-family: 'Menlo', monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color:white;
}

.version_number {
    color: white;
    font-size: 20px;
}

body {
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 384px;
}
input {
    width: 250px;
    font-family: Consolas;
}
input, button{
    padding: 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}
input[type=text]:focus{
    outline: 2px solid #4db538;
}

button {
    width : 60px;
    font-family: "open sans",sans-serif;
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
    cursor : pointer;
    font-weight: normal;
}

.modal_content {
    display:flex;
    justify-content: center;
}

p {
    margin: 0px;
    font-family: "open sans",sans-serif;
    font-weight: 500;
    line-height: 20px;
}

.copied {
    color:white;
    background-color:#4db538;
    font-size: 13px;
    font-family: "open sans",sans-serif;
}

.new {
    display:block;
}

#copy {
    display: none;
}

.footer {
    display:flex;
    justify-content: space-around;
    border-top: 0.5px solid #dadada;
    padding: 10px;
    margin-top: 10px;       
}

a {
    text-decoration: none;
}

a:link {
    color:black;
}

a:active, a:hover {
    color:green;
}

a:visited {
    color:black;
}

::selection {
    background: #4db538;
    color:white;
  }

.rating, .website{
    display: none;
    text-align: center;
    font-weight: 600;
}

span {
    border:1px solid black;
    padding:2px 4px;
    border-radius: 2px;
    margin:5px !important;
  }
  
  div.rank {
      margin: 3px;
      padding: 0;
      list-style: none;
  }
  
  div.rank > span {
      position: relative;
      margin: 0;
      height: 30px;
      background: #ffffff;
      transition: background-color 300ms;
  }
  
  div.rank:hover > span {
      background-color: grey;
      
  }
  
  div.rank > span + span {
      margin-top: 10px;
  }
  
  div.rank > span:hover ~ span {
      background: #ffffff;
  }
  
  div.rank > span + span:before {
      content: "";
      display: block;
      position: absolute;
      top: -10px;
      left: 0;
      right: 0;
      height: 10px;
  }